@font-face
{
	font-family: ballpark;
	src: url(../fonts/BALLW___.TTF);
}

.top-block
{
	background-image: url("../img/oboi.jpg");
	border-bottom: 4px solid #242424;
}

body
{
    font-size: 12px;
    line-height: 1.5;
    color: #808080;
}

header
{
	padding-top: 24px; 
	padding-bottom: 15px;
}

ul li 
{
    display: inline;
    padding: 30px;

}

ul li a
{    
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;  
}

ul li a:hover
{
	color: #00ff00;
    background-color: #666666;
    text-decoration: none;
}
   
.logo
{
	color: #e0e0e0;
	font-size: 36px;
	font-family: ballpark;
}


